@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
html, body {
  height: 100%;
}

/* Light Theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  /* Gradient Style Purple → Blue */
  --color-primary: #6366f1;
  /* Indigo-500 */
  --color-secondary: #3b82f6;
  /* Blue-500 */
  --color-accent: #06b6d4;
  /* Cyan-500 */
}

/* Dark Theme */
@plugin "daisyui/theme" {
  name: "dark";

  /* Slightly deeper & neon gradient */
  --color-primary: #8b5cf6;
  /* Purple-500 */
  --color-secondary: #0ea5e9;
  /* Sky-500 */
  --color-accent: #22d3ee;
  /* Cyan-400 */
}